@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background-image: linear-gradient(#615dad, #ffc8da);
}


body {
  display: flex;
  justify-content: center;
  font: 16px/1.5 sans-serif;
  padding: 20px;
}

h1 {
  font: 2.5rem "Lobster", sans-serif;
}

p {
  padding-top: 1.5rem;
}

.main-img {
  max-width: 100%;
  border-radius: 15px 15px 0 0;
}


.container {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  max-width: 400px;
  border: none;
  border-radius: 15px 15px 0 0;
}

.container__content {
  padding: 40px;
  text-align: center;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  margin-top: 0.5px;
}

.container__buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: none;
}

.container__buttons--green {
  background-color: #1fcca4;
}

.container__buttons--green:hover {
  background-color: #1cbb96;
  cursor: pointer;
}

.container__buttons--blue {
  background-color: #0197f6;
}

.container__buttons--blue:hover {
  background-color: #0090e9;
  cursor: pointer;
}

/* styl hra */

.field-content {
  display: flex;
  flex-direction: column;
  max-width: 80vmin;
  border: none;
  color: white;
}

.field-content > h1 {
  text-align: center;
  font-size: 3.5rem;
}


.field-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  flex-wrap: wrap;
}

.field-player {
  display: flex;
}

.circle {
  width: 20px;
  filter: invert(100%);
}

.field-player > p {
  padding: 0 10px 0 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}


.field-icon {
  display: flex;
}

.icon-home, .icon-restart {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  border-radius: 5px;
  cursor: pointer;
}

.icon-home {
  background-image: url('images/home.svg');
  background-color: #1fcca4;
  margin-right: 7px;
}

.icon-home:hover {
  background-color: #1cbb96;
}

.icon-restart {
  background-image: url('images/restart.svg');
  background-color: #0197f6;
}

.icon-restart:hover {
  background-color: #0090e9;
}


/* hrací pole */

table {
  border-collapse: collapse;
  box-shadow: 1px 1px 9px #3d3d3d;
}


td {
  border: 1.5px solid rgb(78, 64, 84);  
  width: calc(80vmin / 10);
  height: calc(80vmin / 10);
  background-color: #f9e2ff85;
}

.field-btn {
  display: flex;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #f4cbff00;
  background-repeat: no-repeat;
  background-position: center;
}

.field-btn:hover, .field-btn:focus {
  background-color: rgba(240, 216, 255, 0.516);
  cursor: pointer;
}

/* piskvorky */

.field-btn__circle {
  background-image: url(images/circle.svg);
}

.field-btn__cross {
  background-image: url(images/cross.svg);
}

.field-btn__circle,
.field-btn__cross {
  background-size: 60%;
  animation: zoomIn 0.15s ease-in;
}

@keyframes zoomIn {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

